@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #92d050;
}

body {
  color: #333;
}

header {
  border: 0.2rem solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.home {
  background: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url(../assets/home-bg.jpg);
  background-size: cover;
  background-position: center;
}

.shadow-drop {
  text-shadow: 0.5px 0.5px #fff;
}
